<!DOCTYPE html>
<html lang="tr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Mofi admin is super flexible, powerful, clean &amp; modern responsive bootstrap 5 admin template with unlimited possibilities.">
    <meta name="keywords" content="admin template, Mofi admin template, dashboard template, flat admin template, responsive admin template, web app">
    <meta name="author" content="pixelstrap">
    <link rel="icon" href="~/Admin/theme/assets/images/favicon.png" type="image/x-icon">
    <link rel="shortcut icon" href="~/Admin/theme/assets/images/favicon.png" type="image/x-icon">
    <title>Pinoo - Dashboard</title>
    <!-- Google font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/Admin/theme/assets/css/font-awesome.css">
    <!-- ico-font-->
    <link rel="stylesheet" type="text/css" href="~/Admin/theme/assets/css/vendors/icofont.css">
    <!-- Themify icon-->
    <link rel="stylesheet" type="text/css" href="~/Admin/theme/assets/css/vendors/themify.css">
    <!-- Flag icon-->
    <link rel="stylesheet" type="text/css" href="~/Admin/theme/assets/css/vendors/flag-icon.css">
    <!-- Feather icon-->
    <link rel="stylesheet" type="text/css" href="~/Admin/theme/assets/css/vendors/feather-icon.css">
    <!-- Plugins css start-->
    <link rel="stylesheet" type="text/css" href="~/Admin/theme/assets/css/vendors/slick.css">
    <link rel="stylesheet" type="text/css" href="~/Admin/theme/assets/css/vendors/slick-theme.css">
    <link rel="stylesheet" type="text/css" href="~/Admin/theme/assets/css/vendors/scrollbar.css">
    <link rel="stylesheet" type="text/css" href="~/Admin/theme/assets/css/vendors/animate.css">
    <link rel="stylesheet" type="text/css" href="~/Admin/theme/assets/css/vendors/scrollable.css">
    <link rel="stylesheet" type="text/css" href="~/Admin/theme/assets/css/vendors/animate.css">
    <link rel="stylesheet" type="text/css" href="~/Admin/theme/assets/css/vendors/datatables.css">
    <link rel="stylesheet" type="text/css" href="~/Admin/theme/assets/css/vendors/date-range-picker/flatpickr.min.css">
    <link rel="stylesheet" type="text/css" href="~/Admin/theme/assets/css/vendors/photoswipe.css">

    <link rel="stylesheet" type="text/css" href="~/Admin/theme/assets/css/vendors/select2.css">
    <link rel="stylesheet" type="text/css" href="~/Admin/theme/assets/css/vendors/dropzone.css">

    <!-- Plugins css Ends-->
    <!-- Bootstrap css-->
    <link rel="stylesheet" type="text/css" href="~/Admin/theme/assets/css/vendors/bootstrap.css">
    <!-- App css-->
    <link rel="stylesheet" type="text/css" href="~/Admin/theme/assets/css/style.css">
    <link id="color" rel="stylesheet" href="~/Admin/theme/assets/css/color-1.css" media="screen">
    <!-- Responsive css-->
    <link rel="stylesheet" type="text/css" href="~/Admin/theme/assets/css/responsive.css">
</head>
<body>
    <div class="page-wrapper compact-wrapper" id="pageWrapper">
        <div class="page-header row">
            <div class="header-logo-wrapper col-auto">
                <div class="logo-wrapper"><a asp-area="AdminDashboard" asp-controller="Home" asp-action="Index"><img class="img-fluid for-light" src="~/Landing/theme/images/PinooLogo.png" alt="" /><img class="img-fluid for-dark" src="~/Landing/theme/images/PinooLogo.png" alt="" /></a></div>
            </div>
            <div class="col-4 col-xl-4 page-title">
                <h4 class="f-w-700">Default dashboard</h4>
                <nav>
                    <ol class="breadcrumb justify-content-sm-start align-items-center mb-0">
                        <li class="breadcrumb-item"><a asp-area="AdminDashboard" asp-controller="Home" asp-action="Index"> <i data-feather="home"> </i></a></li>
                        <li class="breadcrumb-item f-w-400">Dashboard</li>
                    </ol>
                </nav>
            </div>
            <!-- Page Header Start-->
            <div class="header-wrapper col m-0">
                <div class="row">

                    <div class="header-logo-wrapper col-auto p-0">
                        <div class="logo-wrapper"><a asp-area="AdminDashboard" asp-controller="Home" asp-action="Index"><img class="img-fluid" src="~/Admin/theme/assets/images/logo/logo.png" alt=""></a></div>
                        <div class="toggle-sidebar">
                            <svg class="stroke-icon sidebar-toggle status_toggle middle">
                                <use href="~/Admin/theme/assets/svg/icon-sprite.svg#toggle-icon"></use>
                            </svg>
                        </div>
                    </div>

                    @await Component.InvokeAsync("LayoutHeader2")

                </div>
            </div>
        </div>
        <!-- Page Body Start-->
        <div class="page-body-wrapper">
            <!-- Page Sidebar Start-->
            <div class="sidebar-wrapper" data-layout="stroke-svg">
                <div>
                    <div class="logo-wrapper">
                        <a asp-area="AdminDashboard" asp-controller="Home" asp-action="Index"><img class="img-fluid" src="~/Landing/theme/images/PinooLogo.png" alt=""></a>
                        <div class="back-btn"><i class="fa fa-angle-left"></i></div>
                        <div class="toggle-sidebar">
                            <svg class="stroke-icon sidebar-toggle status_toggle middle">
                                <use href="~/Admin/theme/assets/svg/icon-sprite.svg#toggle-icon"></use>
                            </svg>
                            <svg class="fill-icon sidebar-toggle status_toggle middle">
                                <use href="~/Admin/theme/assets/svg/icon-sprite.svg#fill-toggle-icon"></use>
                            </svg>
                        </div>
                    </div>
                    <div class="logo-icon-wrapper"><a asp-area="AdminDashboard" asp-controller="Home" asp-action="Index"><img class="img-fluid" src="~/Admin/theme/assets/images/logo/logo-icon.png" alt=""></a></div>
                    <nav class="sidebar-main">
                        <div class="left-arrow" id="left-arrow"><i data-feather="arrow-left"></i></div>
                        <div id="sidebar-menu">
                            <ul class="sidebar-links" id="simple-bar">
                                <li class="back-btn">
                                    <a asp-area="AdminDashboard" asp-controller="Home" asp-action="Index"><img class="img-fluid" src="~/Admin/theme/assets/images/logo/logo-icon.png" alt=""></a>
                                    <div class="mobile-back text-end"><span>Back</span><i class="fa fa-angle-right ps-2" aria-hidden="true"></i></div>
                                </li>
                                <li class="pin-title sidebar-main-title">
                                    <div>
                                        <h6>Sabitlenenler</h6>
                                    </div>
                                </li>
                                <li class="sidebar-main-title">
                                    <div>
                                        <h6 class="">Dashboard</h6>
                                    </div>
                                <li class="sidebar-list">
                                    <i class="fa fa-thumb-tack"></i><a class="sidebar-link sidebar-title" href="javascript:void(0)">
                                        <svg class="stroke-icon">
                                            <use href="~/Admin/theme/assets/svg/icon-sprite.svg#stroke-widget"></use>
                                        </svg>
                                        <svg class="fill-icon">
                                            <use href="~/Admin/theme/assets/svg/icon-sprite.svg#fill-widget"></use>
                                        </svg><span >Eğitim Dokümanları</span>
                                    </a>
                                    <ul class="sidebar-submenu">

                                        <li><a asp-area="AdminDashboard" asp-controller="DocArticle" asp-action="CreateDocArticle">Doküman Oluştur</a></li>
                                            @await Component.InvokeAsync("DynamicDocCategoryMenu")
                                    </ul>
                                </li>
                                <li class="sidebar-list">
                                    <i class="fa fa-thumb-tack"></i><a class="sidebar-link sidebar-title" href="javascript:void(0)">
                                        <svg class="stroke-icon">
                                            <use href="~/Admin/theme/assets/svg/icon-sprite.svg#stroke-widget"></use>
                                        </svg>
                                        <svg class="fill-icon">
                                            <use href="~/Admin/theme/assets/svg/icon-sprite.svg#fill-widget"></use>
                                        </svg><span>Doküman Kategorileri</span>
                                    </a>
                                    <ul class="sidebar-submenu">

                                        <li><a asp-area="AdminDashboard" asp-controller="DocCategory" asp-action="CreateDocCategory">Kategori Oluştur</a></li>
                                        <li><a asp-area="AdminDashboard" asp-controller="DocCategory" asp-action="Index">Tüm Kategoriler</a></li>  
                                    </ul>
                                </li>
                                <li class="sidebar-list">
                                    <i class="fa fa-thumb-tack"></i><a class="sidebar-link sidebar-title" href="javascript:void(0)">
                                        <svg class="stroke-icon">
                                            <use href="~/Admin/theme/assets/svg/icon-sprite.svg#stroke-widget"></use>
                                        </svg>
                                        <svg class="fill-icon">
                                            <use href="~/Admin/theme/assets/svg/icon-sprite.svg#fill-widget"></use>
                                        </svg><span>Pinoo Kartları</span>
                                    </a>
                                    <ul class="sidebar-submenu">

                                        <li><a asp-area="AdminDashboard" asp-controller="Card" asp-action="Index">Kartlar Tablosu</a></li>
                                    </ul>
                                </li>
                                <li class="sidebar-list">
                                    <i class="fa fa-thumb-tack"></i><a class="sidebar-link sidebar-title" href="javascript:void(0)">
                                        <svg class="stroke-icon">
                                            <use href="~/Admin/theme/assets/svg/icon-sprite.svg#stroke-widget"></use>
                                        </svg>
                                        <svg class="fill-icon">
                                            <use href="~/Admin/theme/assets/svg/icon-sprite.svg#fill-widget"></use>
                                        </svg><span>Kullanıcı İşlemleri</span>
                                    </a>
                                    <ul class="sidebar-submenu">

                                        <li><a asp-area="AdminDashboard" asp-controller="User" asp-action="Index">Kullanıcılar Tablosu</a></li>
                                    </ul>
                                </li>
                                <li class="sidebar-list">
                                    <i class="fa fa-thumb-tack"></i><a class="sidebar-link sidebar-title" href="javascript:void(0)">
                                        <svg class="stroke-icon">
                                            <use href="~/Admin/theme/assets/svg/icon-sprite.svg#stroke-widget"></use>
                                        </svg>
                                        <svg class="fill-icon">
                                            <use href="~/Admin/theme/assets/svg/icon-sprite.svg#fill-widget"></use>
                                        </svg><span>Aktivasyon Kod İşlemleri</span>
                                    </a>
                                    <ul class="sidebar-submenu">
                                        <li><a asp-area="AdminDashboard" asp-controller="ActivationCode" asp-action="GenerateActivationCode">Kod Üret</a></li>
                                        <li><a asp-area="AdminDashboard" asp-controller="ActivationCode" asp-action="ActivetedCodes">Aktifleşen Kodlar</a></li>
                                        <li><a asp-area="AdminDashboard" asp-controller="ActivationCode" asp-action="NotActivetedCodes">Aktif Olmayan Kodlar</a></li>
                                    </ul>
                                </li>
                                <li class="sidebar-list">
                                    <i class="fa fa-thumb-tack"></i><a class="sidebar-link sidebar-title link-nav" asp-area="AdminDashboard" asp-controller="ImageStorage" asp-action="Index">
                                        <svg class="stroke-icon">
                                            <use href="../assets/svg/icon-sprite.svg#stroke-support-tickets"></use>
                                        </svg>
                                        <svg class="fill-icon">
                                            <use href="../assets/svg/icon-sprite.svg#fill-support-tickets"></use>
                                        </svg><span>Görsel Kütüphanesi</span>
                                    </a>
                                </li>
                                <li class="sidebar-list">
                                    <i class="fa fa-thumb-tack"></i><a class="sidebar-link sidebar-title link-nav" asp-area="AdminDashboard" asp-controller="Contact" asp-action="Index">
                                        <svg class="stroke-icon">
                                            <use href="../assets/svg/icon-sprite.svg#stroke-support-tickets"></use>
                                        </svg>
                                        <svg class="fill-icon">
                                            <use href="../assets/svg/icon-sprite.svg#fill-support-tickets"></use>
                                        </svg><span>İletişim Formları</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="right-arrow" id="right-arrow"><i data-feather="arrow-right"></i></div>
                    </nav>
                </div>
            </div>
            <!-- Page Sidebar Ends-->
            <div class="page-body">
                <!-- Container-fluid starts-->
                <div class="container-fluid default-dashboard">
                    @RenderBody()
                </div>
                <!-- Container-fluid Ends-->
            </div>
            <!-- footer start-->
            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12 footer-copyright d-flex flex-wrap align-items-center justify-content-between">
                            <p class="mb-0 f-w-600">Copyright 2023 © Pinoo Robotics  </p>
                            <p class="mb-0 f-w-600">
                                Versiyon 1.0.0
                                <svg class="footer-icon">
                                    <use href="~/Admin/theme/assets/svg/icon-sprite.svg#footer-heart"> </use>
                                </svg>
                            </p>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <!-- latest jquery-->
    <script src="~/Admin/theme/assets/js/jquery.min.js"></script>
    <!-- Bootstrap js-->
    <script src="~/Admin/theme/assets/js/bootstrap/bootstrap.bundle.min.js"></script>
    <!-- feather icon js-->
    <script src="~/Admin/theme/assets/js/icons/feather-icon/feather.min.js"></script>
    <script src="~/Admin/theme/assets/js/icons/feather-icon/feather-icon.js"></script>
    <!-- scrollbar js-->
    <script src="~/Admin/theme/assets/js/scrollbar/simplebar.js"></script>
    <script src="~/Admin/theme/assets/js/scrollbar/custom.js"></script>
    <!-- Sidebar jquery-->
    <script src="~/Admin/theme/assets/js/config.js"></script>

    <!-- scrollbar js-->
    <script src="~/Admin/theme/assets/js/scrollbar/simplebar.js"></script>
    <script src="~/Admin/theme/assets/js/scrollbar/custom.js"></script>
    <script src="~/Admin/theme/assets/js/scrollable/perfect-scrollbar.min.js"></script>
    <script src="~/Admin/theme/assets/js/scrollable/scrollable-custom.js"></script>

    <!-- Plugins JS start-->
    <script src="~/Admin/theme/assets/js/sidebar-menu.js"></script>
    <script src="~/Admin/theme/assets/js/sidebar-pin.js"></script>
    <script src="~/Admin/theme/assets/js/slick/slick.min.js"></script>
    <script src="~/Admin/theme/assets/js/slick/slick.js"></script>
    <script src="~/Admin/theme/assets/js/header-slick.js"></script>
    <script src="~/Admin/theme/assets/js/chart/apex-chart/apex-chart.js"></script>
    <script src="~/Admin/theme/assets/js/chart/apex-chart/stock-prices.js"></script>
    <script src="~/Admin/theme/assets/js/chart/apex-chart/moment.min.js"></script>

    <script src="~/Admin/theme/assets/js/editor/ckeditor/ckeditor.js"></script>
    <script src="~/Admin/theme/assets/js/editor/ckeditor/adapters/jquery.js"></script>

    <script src="~/Admin/theme/assets/js/dropzone/dropzone.js"></script>
    <script src="~/Admin/theme/assets/js/dropzone/dropzone-script.js"></script>
    <script src="~/Admin/theme/assets/js/select2/select2.full.min.js"></script>
    <script src="~/Admin/theme/assets/js/select2/select2-custom.js"></script>
    <script src="~/Admin/theme/assets/js/email-app.js"></script>
    <script src="~/Admin/theme/assets/js/form-validation-custom.js"></script>

    <script src="~/Admin/theme/assets/js/photoswipe/photoswipe.min.js"></script>
    <script src="~/Admin/theme/assets/js/photoswipe/photoswipe-ui-default.min.js"></script>
    <script src="~/Admin/theme/assets/js/photoswipe/photoswipe.js"></script>

    <!-- calendar js-->
    <script src="~/Admin/theme/assets/js/dashboard/default.js"></script>
    <script src="~/Admin/theme/assets/js/notify/index.js"></script>
    <script src="~/Admin/theme/assets/js/datatable/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Admin/theme/assets/js/datatable/datatables/datatable.custom.js"></script>
    <script src="~/Admin/theme/assets/js/datatable/datatables/datatable.custom1.js"></script>
    <script src="~/Admin/theme/assets/js/datepicker/date-range-picker/moment.min.js"></script>
    <script src="~/Admin/theme/assets/js/datepicker/date-range-picker/datepicker-range-custom.js"></script>
    <script src="~/Admin/theme/assets/js/typeahead/handlebars.js"></script>
    <script src="~/Admin/theme/assets/js/typeahead/typeahead.bundle.js"></script>
    <script src="~/Admin/theme/assets/js/typeahead/typeahead.custom.js"></script>
    <script src="~/Admin/theme/assets/js/typeahead-search/handlebars.js"></script>
    <script src="~/Admin/theme/assets/js/typeahead-search/typeahead-custom.js"></script>
    <script src="~/Admin/theme/assets/js/height-equal.js"></script>
    <script src="~/Admin/theme/assets/js/animation/wow/wow.min.js"></script>
    <!-- Plugins JS Ends-->
    <!-- Theme js-->
    <script src="~/Admin/theme/assets/js/script.js"></script>
    <script src="~/Admin/theme/assets/js/theme-customizer/customizer.js"></script>
    <!-- Plugin used-->
    <script>new WOW().init();</script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    @await Component.InvokeAsync("Notyf")

</body>
</html>
