@model RobloxWithPinoo_UI.Entity.Dtos.AdminDashboardDtos.TotalUsersCount

<div class="col-xl-6 col-sm-6">
    <div class="card">
        <div class="card-body student">
            <div class="d-flex gap-2 align-items-end">
                <div class="flex-grow-1">
                    <h2>@Model.Count</h2>
                    <p class="mb-0 text-truncate"> Toplam Kayıtlı Kullanıcı Sayısı</p>
                </div>
                <div class="flex-shrink-0"><img width="50" height="50" src="https://img.icons8.com/dotty/50/add-user-male.png" alt="add-user-male" /></div>
            </div>
        </div>
    </div>
</div>