@model RobloxWithPinoo_UI.Entity.Dtos.AccountDtos.AccountInfoDto

<div class="col-xl-5 col-md-6 proorder-xl-1 proorder-md-1">
    <div class="card profile-greeting p-0">
        <div class="card-body">
            <div class="img-overlay">
                <h1>Hoşgeldin, @Model.FirstName @Model.LastName</h1>
                <p>Pinoo'lu Roblox dünyasına hoşgeldin! Senin için özenle hazırlanmış
                    öğreticileri takip edip oyunlarına renk katabilirsin.</p><a class="btn" asp-area="UserDashboard" asp-controller="Home" asp-action="Index">Hemen Başla</a>
            </div>
        </div>
    </div>
</div>