<section class="section loan-steps bg-tertiary">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-7">
                <div class="section-title text-center">
                    <p class="text-primary text-uppercase fw-bold mb-3">Kolayca Kullan</p>
                    <h1>Sadece 3 Kolay Adımda Çok Kolay Kullanın</h1>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="row justify-content-center">
                    <div class="step-item col-lg-4 col-md-6">
                        <div class="text-center">
                            <p class="count">01</p>
                            <h3 class="mb-3">Pinoo IoT Kitini Al</h3>
                            <p class="mb-0">Sana en yakın mağazadan veya online mağazadan Pinoo IoT kitini al.</p>
                        </div>
                    </div>
                    <div class="step-item col-lg-4 col-md-6">
                        <div class="text-center">
                            <p class="count">02</p>
                            <h3 class="mb-3">Platforma Üye Ol</h3>
                            <p class="mb-0">Kitinden çıkan aktivasyon kodu ile platforma üye ol.</p>
                        </div>
                    </div>
                    <div class="step-item col-lg-4 col-md-6">
                        <div class="text-center">
                            <p class="count">03</p>
                            <h3 class="mb-3">Uygulamaya Başla</h3>
                            <p class="mb-0">Dokümanları incele ve ardından Pinoo ile Roblox'u kontrol et.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>