<footer class="section-sm bg-tertiary">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-2 col-md-4 col-6 mb-4">
                <div class="footer-widget">
                    <h5 class="mb-4 text-primary font-secondary">Altyapı Destekleri</h5>
                    <ul class="list-unstyled">
                        <li class="mb-2">
                            <a href="">Roblox & Roblox Studio</a>
                        </li>
                        <li class="mb-2">
                            <a href="">Minecraft</a>
                        </li>
                        <li class="mb-2">
                            <a href="">Unity</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-6 mb-4">
                <div class="footer-widget">
                    <h5 class="mb-4 text-primary font-secondary">Donanım &amp; Yazılım</h5>
                    <ul class="list-unstyled">
                        <li class="mb-2">
                            <a href="https://www.pinoo.io/blogs/dokumanlar/e-katalog" target="_blank">Pinoo E-Katalog</a>
                        </li>
                        <li class="mb-2">
                            <a href="https://www.pinoo.io/pages/pinoo-studio-yazilim" target="_blank">Pinoo Studio</a>
                        </li>
                        <li class="mb-2">
                            <a href="https://pinoo.gitbook.io/pinoo-robotics/" target="_blank">Genel Dokümantasyon</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-6 mb-4">
                <div class="footer-widget">
                    <h5 class="mb-4 text-primary font-secondary">Yardım</h5>
                    <ul class="list-unstyled">
                        <li class="mb-2">
                            <a asp-area="" asp-controller="Contact" asp-action="Index">İletişim</a>
                        </li>
                        <li class="mb-2">
                            <a href="https://www.pinoo.io/blogs/blog" target="_blank">Genel Blog</a>
                        </li>
                        <li class="mb-2">
                            <a asp-area="" asp-controller="Home" asp-action="Faq">FAQs</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-4 col-md-12 newsletter-form">
                <div style="background-color: #F4F4F4; padding: 35px;">
                    <h5 class="mb-4 text-primary font-secondary">Pinoo Robotics</h5>
                    <div class="pe-0 pe-xl-5">
                        <p>
                            Pinoo IoT, eğitim amaçlı olarak tasarlanmış bir platformdur ve kullanıcılarına IoT projeleri geliştirmek için gerekli olan donanım ve yazılım altyapısını sağlar. Pinoo IoT, öğrenciler, hobici elektronikçiler ve maker toplulukları için ideal bir çözümdür.
                        </p>
                    </div>
                   
                </div>
            </div>



        </div>
        <div class="row align-items-center mt-5 text-center text-md-start">
            <div class="col-lg-4">
                <a asp-area="" asp-controller="Home" asp-action="Index">
                    <img loading="prelaod" decoding="async" class="img-fluid" width="160" src="~/Landing/theme/images/PinooLogo.png" alt="pinoo logo">
                </a>
            </div>
            <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
                <ul class="list-unstyled list-inline mb-0 text-lg-center">
                    <li class="list-inline-item me-4">
                        <a class="text-black" asp-area="" asp-controller="Home" asp-action="PrivacyPolicy">Gizlilik Politikası</a>
                    </li>
                    <li class="list-inline-item me-4">
                        <a class="text-black" asp-area="" asp-controller="Home" asp-action="KVKK">KVKK-Aydınlatma Metni</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-6 text-md-end mt-4 mt-md-0">
                <ul class="list-unstyled list-inline mb-0 social-icons">
                    <li class="list-inline-item me-3">
                        <a title="Explorer Facebook Profile" class="text-black" href="https://www.facebook.com/pinooroboticss"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li class="list-inline-item me-3">
                        <a title="Explorer Twitter Profile" class="text-black" href="https://twitter.com/RoboticsPinoo"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li class="list-inline-item me-3">
                        <a title="Explorer Instagram Profile" class="text-black" href="https://www.instagram.com/pinoorobotics/"><i class="fab fa-instagram"></i></a>
                    </li>
                    <li class="list-inline-item me-3">
                        <a title="Explorer Youtube Profile" class="text-black" href="https://www.youtube.com/c/pinoorobotics"><i class="fab fa-youtube"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>