﻿@{
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}

<section class="section-sm">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <div class="content">
                    <blockquote>
                        <br />
                        Kişisel Verilerin İşlenmesine İlişkin Aydınlatma ve Rıza Metni
                        <br /><br />
                        Atölye Vizyon (“Atölye Vizyon”) olarak, kullanıcılarımızın kişisel verilerinin korunması önceliğimizdir. Bu kapsamda, Atölye Vizyon olarak, 6698 s. Kişisel Verilerin Korunması Kanunu (KVKK) kapsamında, veri sorumlusu sıfatı ile sizleri aydınlatmak isteriz.
                        <br /><br />
                        Atölye Vizyon ile paylaştığınız(web sitesi, mobil uygulamalar), KVKK’ya uygun olarak işbu metinde yer alan işleme ve aktarılma amacına, toplanma yöntemine, hukuki sebebine, toplanma faaliyetine uygun şekilde, hizmet amaçlarımız, yasal yükümlülüklerimiz ile bağlantılı şekilde işlenebilecek, yurt içi ve yurt dışında bulunan üçüncü kişilere aktarılabilecek, saklanabilecek, profilleme için kullanılabilinecek ve sınıflandırılabilinecektir. Yine işbu aydınlatma metni ile KVKK kapsamındaki haklarınız hususunda bilgilendirilmeniz amaçlanmaktadır.
                        <br /><br />
                        Bu veriler sizin giriş yönetiminize bağlı olarak üyelik işlemi ile ya sitemizde bulunan sosyal medya hesabınız üzerinden sitemize giriş yolu ile toplanabilir.
                        <br /><br />
                        Aktarılan kişisel verilerin korunması konusundaki temel bilgilere aşağıda yer verilmiştir. Atölye Vizyon, 6698 sayılı Kişisel Verilerin Korunması Kanunu (“KVKK”) m. 10’dan doğan aydınlatma yükümlülüğünü yerine getirmek amacıyla aşağıdaki açıklamaları müşterilerimizin ve web-sitemizi ve/veya mobil uygulamalarımızı kullanan 3. kişilerin dikkatine sunar. Atölye Vizyon işbu Kişisel Verilerin Korunması Hakkında Açıklama metnini yürürlükteki mevzuatta yapılabilecek değişiklikler çerçevesinde her zaman güncelleme hakkını saklı tutar.
                        <br /><br />
                        Atölye Vizyon’ın kişisel verileri toplamasının yasal dayanağı nedir?
                        <br /><br />
                        Müşterilerimizin kişisel verilerinin kullanılması konusunda çeşitli kanunlarda düzenlemeler bulunmaktadır. En başta KVKK ile kişisel verilerin korunması esasları belirlenmiştir. Ayrıca 6563 Sayılı Elektronik Ticaretin Düzenlenmesi Hakkında Kanun da kişisel verilerin korunmasına ilişkin hüküm içermektedir. 5237 Sayılı Türk Ceza Kanunu hükümleri yoluyla da kişisel verilerin korunması için bazı hallerde cezai yaptırımlar öngörülmüştür.
                        <br /><br />
                        Diğer yandan, 6502 sayılı Tüketicinin Korunması Hakkında Kanun ve Mesafeli Sözleşmeler Yönetmeliği’nden doğan yükümlülüklerimizin ifası amacıyla verilerin toplanması ve kullanılması gerekmektedir.
                        <br /><br />
                        Atölye Vizyon kişisel verilerin toplanmasında hangi yöntemleri kullanıyor?
                        <br /><br />
                        www.atolyevizyon.com web sitesinden veya mobil uygulamalardan işlem yapan müşterilerimizin verdikleri veriler, müşterilerimizin rızaları ve mevzuat hükümleri uyarınca Atölye Vizyon tarafından işlenmektedir.
                        <br /><br />
                        Atölye Vizyon’a ait olan www.pinoo.io web sitesi çerez (cookie) kullanan bir sitedir. Çerez; kullanılmakta olan cihazın internet tarayıcısına ya da sabit diskine depolanarak söz konusu cihazın tespit edilmesine olanak tanıyan, çoğunlukla harf ve sayılardan oluşan bir dosyadır.
                        <br /><br />
                        www.pinoo.io ziyaretçilerine daha iyi hizmet verebilmek amacıyla ve yasal yükümlülüğü çerçevesinde, işbu Kişisel Verilerin Korunması Hakkında Açıklama metninde belirlenen amaçlar ve kapsam dışında kullanılmamak kaydı ile gezinme bilgilerinizi toplayacak, işleyecek, üçüncü kişilerle paylaşacak ve güvenli olarak saklayacaktır.
                        <br /><br />
                        www.pinoo.io çerezleri; günlük dosyaları, boş gif dosyaları ve/veya üçüncü taraf kaynakları yoluyla topladığı bilgileri tercihlerinizle ilgili bir özet oluşturmak amacıyla depolar.
                        <br /><br />
                        www.pinoo.io size özel tanıtım yapmak, promosyonlar ve pazarlama teklifleri sunmak, web sitesinin veya mobil uygulamanın içeriğini size göre iyileştirmek ve/veya tercihlerinizi belirlemek amacıyla; site üzerinde gezinme bilgilerinizi ve/veya site üzerindeki kullanım geçmişinizi izleyebilmektedir.
                        <br /><br />
                        www.pinoo.io çevrimiçi ve çevrimdışı olarak toplanan bilgiler gibi farklı yöntemlerle veya farklı zamanlarda site üzerinde sizden toplanan bilgileri eşleştirebilir ve bu bilgileri üçüncü taraflar gibi başka kaynaklardan alınan bilgilerle birlikte kullanabilir.
                        <br /><br />
                        www.pinoo.io mobil uygulamasında oturum çerezleri ve kalıcı çerezler kullanmaktadır. Oturum kimliği çerezi, tarayıcınızı kapattığınızda sona erer. Kalıcı çerez ise sabit diskinizde uzun bir süre kalır. İnternet tarayıcınızın “yardım” dosyasında verilen talimatları izleyerek veya “www.allaboutcookies.org” veya “www.youronlinechoices.eu” adresini ziyaret ederek kalıcı çerezleri kaldırabilir ve hem oturum çerezlerini hem de kalıcı çerezleri reddedebilirsiniz. Kalıcı çerezleri veya oturum çerezlerini reddederseniz, web sitesini, mobil uygulamayı kullanmaya devam edebilirsiniz fakat web sitesinin, mobil uygulamanın tüm işlevlerine erişemeyebilirsiniz veya erişiminiz sınırlı olabilir.
                        <br /><br />
                        İnternet Sitesi üçüncü taraf çerezlerini reklam ve yeniden hedefleme için nasıl kullanmaktadır?
                        <br /><br />
                        www.pinoo.io web sitesi çerezleri ayrıca; arama motorlarını, web sitesi, mobil uygulamasını ve/veya web sitesinin reklam verdiği internet sitelerini ziyaret ettiğinizde ilginizi çekebileceğini düşündüğü reklamları size sunabilmek için “reklam teknolojisini” devreye sokmak amacıyla kullanabilir. Reklam teknolojisi, size özel reklamlar sunabilmek için web sitesine/mobil uygulamaya ve web sitesinin reklam verdiği web sitelerine/mobil uygulamalarına yaptığınız önceki ziyaretlerle ilgili bilgileri kullanır. Bu reklamları sunarken, web sitesinin sizi tanıyabilmesi amacıyla tarayıcınıza benzersiz bir üçüncü taraf çerezi yerleştirilebilir. İnternet tarayıcınızın “yardım” dosyasında verilen talimatları izleyerek veya “www.allaboutcookies.org” ya da “www.youronlinechoices.eu” adresini ziyaret ederek kalıcı çerezleri kaldırabilir ve hem oturum çerezlerini hem de kalıcı çerezleri reddedebilirsiniz.
                        <br /><br />
                        Atölye Vizyon kişisel verileri hangi amaçlarla kullanıyor?
                        <br /><br />
                        Atölye Vizyon, mevzuatın izin verdiği durumlarda ve ölçüde kişisel bilgilerinizi kaydedebilecek, saklayabilecek, güncelleyebilecek, üçüncü kişilere açıklayabilecek, devredebilecek, sınıflandırabilecek ve işleyebilecektir.
                        <br /><br />
                        Kişisel verileriniz şu amaçlarla kullanılmaktadır:
                        <br /><br />
                        – Web sitesi/mobil uygulamalar üzerinden alışveriş yapanın/yaptıranın kimlik bilgilerini teyit etmek,
                        <br />
                        – İletişim için adres ve diğer gerekli bilgileri kaydetmek,
                        <br />
                        – Mesafeli satış sözleşmesi ve Tüketicinin Korunması Hakkında Kanun’un ilgili maddeleri tahtında akdettiğimiz sözleşmelerin koşulları, güncel durumu ve güncellemeler ile ilgili müşterilerimiz ile iletişime geçmek, gerekli bilgilendirmeleri yapabilmek,
                        <br />
                        – Elektronik (internet/mobil vs.) veya kağıt ortamında işleme dayanak olacak tüm kayıt ve belgeleri düzenlemek,
                        <br />
                        – Mesafeli satış sözleşmesi ve Tüketicinin Korunması Hakkında Kanun’un ilgili maddeleri tahtında akdettiğimiz sözleşmeler uyarınca üstlenilen yükümlülükleri ifa etmek,
                        <br />
                        – Kamu güvenliğine ilişkin hususlarda talep halinde ve mevzuat gereği kamu görevlilerine bilgi verebilmek,
                        <br />
                        – Müşterilerimize daha iyi bir alışveriş deneyimini sağlamak, “müşterilerimizin ilgi alanlarını dikkate alarak” müşterilerimizin ilgilenebileceği ürünlerimiz hakkında müşterilerimize bilgi verebilmek, kampanyaları aktarmak,
                        <br />
                        – Müşteri memnuniyetini artırmak, web sitesi ve/veya mobil uygulamalardan alışveriş yapan müşterilerimizi tanıyabilmek ve müşteri çevresi analizinde kullanabilmek, çeşitli pazarlama ve reklam faaliyetlerinde kullanabilmek ve bu kapsamda anlaşmalı kuruluşlar aracılığıyla elektronik ortamda ve/veya fiziki ortamda anketler düzenlemek,
                        <br />
                        – Anlaşmalı kurumlarımız ve çözüm ortaklarımız tarafından müşterilerimize öneri sunabilmek, hizmetlerimizle ilgili müşterilerimizi bilgilendirebilmek,
                        <br />
                        – Hizmetlerimiz ile ilgili müşteri şikayet ve önerilerini değerlendirebilmek,
                        <br />
                        – Yasal yükümlülüklerimizi yerine getirebilmek ve yürürlükteki mevzuattan doğan haklarımızı kullanabilmek.
                        <br /><br />
                        Atölye Vizyon kişisel verilerinizi nasıl koruyor?
                        <br /><br />
                        Atölye Vizyon ile paylaşılan kişisel veriler, Atölye Vizyon gözetimi ve kontrolü altındadır. Atölye Vizyon, yürürlükteki ilgili mevzuat hükümleri gereğince bilginin gizliliğinin ve bütünlüğünün korunması amacıyla gerekli organizasyonu kurmak ve teknik önlemleri almak ve uyarlamak konusunda veri sorumlusu sıfatıyla sorumluluğu üstlenmiştir. Bu konudaki yükümlülüğümüzün bilincinde olarak veri gizliliğini konu alan uluslararası ve ulusal teknik standartlara uygun surette periyodik aralıklarda sızma testleri yaptırılmakta ve bu kapsamda veri işleme politikalarımızı her zaman güncellediğimizi bilginize sunarız.
                        <br /><br />
                        Atölye Vizyon kişisel verilerinizi paylaşıyor mu?
                        <br /><br />
                        Müşterilerimize ait kişisel verilerin üçüncü kişiler ile paylaşımı, müşterilerin izni çerçevesinde gerçekleşmekte ve kural olarak müşterimizin onayı olmaksızın kişisel verileri üçüncü kişilere aktarılmamaktadır.
                        <br /><br />
                        Bununla birlikte, yasal yükümlülüklerimiz nedeniyle ve bunlarla sınırlı olmak üzere mahkemeler ve diğer kamu kurumları ile kişisel veriler paylaşılmaktadır. Ayrıca, taahhüt ettiğimiz hizmetleri sağlayabilmek ve verilen hizmetlerin kalite kontrolünü yapabilmek için anlaşmalı üçüncü kişilere kişisel veri aktarımı yapılmaktadır.
                        <br /><br />
                        Üçüncü kişilere veri aktarımı sırasında hak ihlallerini önlemek için gerekli teknik ve hukuki önlemler alınmaktadır. Bununla birlikte, kişisel verileri alan üçüncü kişinin veri koruma politikalarından dolayı ve üçüncü kişinin sorumluluğundaki risk alanında meydana gelen ihlallerden Atölye Vizyon sorumlu değildir.
                        <br /><br />
                        Kişisel verileriniz Atölye Vizyon’ın hissedarlarıyla, doğrudan/dolaylı yurtiçi/yurtdışı iştiraklerimize, faaliyetlerimizi yürütebilmek için işbirliği yaptığımız program ortağı kurum, kuruluşlarla, verilerin bulut ortamında saklanması hizmeti aldığımız yurtiçi/yurtdışı kişi ve kurumlarla, müşterilerimize ticari elektronik iletilerin gönderilmesi konusunda anlaşmalı olduğumuz yurtiçi/yurtdışındaki kuruluşlarla, Bankalararası Kart Merkeziyle, anlaşmalı olduğumuz bankalarla ve sizlere daha iyi hizmet sunabilmek ve müşteri memnuniyetini sağlayabilmek için çeşitli pazarlama faaliyetleri kapsamında yurtiçi ve yurtdışındaki çeşitli ajans, reklam şirketleri ve anket şirketleriyle ve yurtiçi/yurtdışı diğer üçüncü kişilerle ve ilgili iş ortaklarımızla paylaşılabilmektedir.
                        <br /><br />
                        Kişisel Veri Sahiplerinin Hakları:
                        <br /><br />
                        KVKK ve ilgili mevzuat uyarınca ilgililer, Atölye Vizyon’a başvurarak kendileriyle ilgili;
                        <br /><br />
                        Kişisel verilerin işlenip işlenmediğini öğrenme,
                        Kişisel verileri işlenmişse buna ilişkin bilgi talep etme,
                        Kişisel verilerin işlenme amacını ve bunların amacına uygun kullanılıp kullanılmadığını öğrenme,
                        Yurt içinde veya yurt dışında kişisel verilerin aktarıldığı üçüncü kişileri bilme,
                        Kişisel verilerin eksik veya yanlış işlenmiş olması halinde bunların düzeltilmesini isteme ve bu kapsamda yapılan işlemin kişisel verilerin aktarıldığı üçüncü kişilere bildirilmesini isteme,
                        İlgili mevzuatta öngörülen şartlar çerçevesinde kişisel verilerin silinmesini veya yok edilmesini isteme,
                        İlgili mevzuat uyarınca yapılan düzeltme, silme ve yok edilme işlemlerinin, kişisel verilerin aktarıldığı üçüncü kişilere bildirilmesini isteme,
                        İşlenen verilerin münhasıran otomatik sistemler vasıtasıyla analiz edilmesi suretiyle kişinin kendisi aleyhine bir sonucun ortaya çıkmasına itiraz etme,
                        Kişisel verilerin kanuna aykırı olarak işlenmesi sebebiyle zarara uğraması halinde zararın giderilmesini talep etme, haklarına sahiptir.
                        <br /><br />
                        İlgili hakların kullanılması için usul ve yöntemler Kişisel Verileri Koruma Kurumu tarafından yayınlanan tebliğde belirlenen şart ve yöntemlere göre yapılmalıdır.
                        <br /><br />
                        www.pinoo.io , yukarıda yer alan talepler uyarınca, gerekçeli olumlu/olumsuz yanıtını, en kısa sürede ve en geç 30 gün içerisinde yazılı veya dijital ortamdan gerçekleştirebilir. Talebe konu işlemlerin bir maliyet gerektirmesi halinde, Kişisel Verilerin Korunması Kurulu tarafından, 6698 Sayılı Kişisel Verilerin Korunması Kanunu’nun 13. Maddesine göre belirlenen tarife üzerinden ücret ve masraf talep edilmesi mümkündür.
                        <br /><br />
                        Verinin güncel ve doğru tutulduğundan nasıl emin olabilirim?
                        <br /><br />
                        KVKK’nın 4. maddesi uyarınca Atölye Vizyon’ın kişisel verilerinizi doğru ve güncel olarak tutma yükümlülüğü bulunmaktadır. Bu kapsamda Atölye Vizyon’ın yürürlükteki mevzuattan doğan yükümlülüklerini yerine getirebilmesi için müşterilerimizin Atölye Vizyon’la doğru ve güncel verilerini paylaşması gerekmektedir. Verilerinizin herhangi bir surette değişikliğe uğraması halinde aşağıda belirtilen iletişim kanallarından bizimle iletişime geçerek verilerinizi güncellemenizi rica ederiz.
                        <br /><br />
                        Atölye Vizyon’a kişisel verilerinizle ilgili soru sormak ister misiniz?
                        <br /><br />
                        Bize kişisel verilerinizle ilgili her türlü soru ve görüşleriniz için info@pinoo.io e-posta adresinden dilediğiniz zaman ulaşabilirsiniz.
                        <br /><br />
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</section>