﻿@{
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}

<section class="section-sm">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <div class="content">
                    <blockquote>
                        <br />

                        Gizlilik Sözleşmesi <br /> <br />

                        Bu web sitesini ziyaret etmeniz ve bu site aracılığıyla sunduğumuz hizmetlerden yararlanmanız sırasında size ve talep ettiğiniz hizmetlere ilişkin olarak elde ettiğimiz bilgilerin ne şekilde işleneceği ve kullanılacağı işbu “Gizlilik Sözleşmesi’nde belirtilen şartlara tabidir. Bu web sitesini ziyaret ederek ve bu site vasıtasıyla sunduğumuz hizmetlerden yararlanmayı talep ederek bu sözleşmeye taraf olmakta ve belirtilen şartları kabul etmektesiniz. İşbu sözleşmenin yürürlükte olduğu süre boyunca taraflar açısından bağlayıcı olacaktır. Tarafı olduğunuz bu sözleşmeyi inceleyerek şart ve koşulları hakkında bilgi sahibi olmalısınız.
                        Kişisel verilerinizi paylaşmanız gönüllülük esasına dayanmaktadır. İhtiyacımız olan size ait kişisel verileri sağlamamanız halinde, talep etmiş olduğunuz ürünü veya ihtiyaç duyduğunuz hizmeti size sağlamamız mümkün olamayacaktır.

                        <br /> <br />

                        Topladığımız Bilgi Türleri ve Toplanış Şekli:
                        <br /> <br />
                        Pinoo - Atölye Vizyon yalnızca sizin tarafınızdan sağlanan bilgileri toplar. Bu bilgiler ad, soyad, adres ve e- posta adresinizi kapsayan temel bilgilerdir. Kişisel bilgileriniz herhangi bir sitemize üye olduğunuzda ya da uygulamalarımıza bağlandığınızda sizlere hızlıca geri dönüş yapabilmek, yeni ürünlerden ve kampanyalardan haberdar etmek amacı ile toplanır.

                        <br /> <br />

                        Kişisel Bilgilerin Paylaşımı
                        <br /> <br />
                        Elde edilen kişisel bilgileriniz gizlilik sözleşmesine uygun olarak talep etmiş olduğunuz ürün veya ihtiyaç duyduğunuz hizmetin sağlanabilmesi için Atölye Vizyon ve grup şirketleri ile paylaşılabilecektir.

                        <br /> <br />

                        Pinoo - Atölye Vizyon grup şirketleri olduğu ifade edilen kurumlar

                        <br /> <br />

                        Pinoo - Atölye Vizyon’un iştirakleri, alt kuruluşları, işletmeleri ve birlikte çalışılan üçüncü kişilerdir.

                        <br /> <br />

                        Bu üçüncü kişiler sizlere daha iyi hizmet verebilmek adına birlikte çalıştığımız; promosyon, teklif ve yarışmalar hazırladığımız şirketler, taleplerinizi daha doğru karşılamak ve teknik problemleri ortadan kaldırabilmek adına yardımını aldığımız tedarikçiler, pazarlama ve reklam işlemlerimizi desteklemesi ve geliştirmesi için danıştığımız ajanslardır. Bahsi geçen eylemlerin gerçekleştirilmesi için yalnızca Pinoo - Atölye Vizyon’un izni olduğu sürece bilgileriniz paylaşılacaktır. Bu bilgileri kullanacak olan kurumlar gizlilik politikası ve veri koruması gereğince yalnızca belirtilen eylem için bilgilerinize ulaşabilecektir.

                        <br /> <br />
                        
                        Bizlere izin verdiğiniz sürece Pinoo - Atölye Vizyon veya çalıştığımız kurumlardan yeni ürünler, satın alma teklifleri, indirim kuponları, ilginizi çekebileceğini düşündüğümüz özel haberler, bizleri anlatan ve sizinle paylaşmaktan mutlu olduğumuz gelişmeler ve diğer promosyonlar için sizlere e-posta gönderilecektir.
                        <br /> <br />
                        Sayılan bütün bu işlemlerin gerçekleştirilebilmesi için onayınızın alınmış olması gerekmektedir. Bu sözleşme ile vermiş olduğunuz onayı her zaman geri alabilmek hakkına sahip bulunmaktasınız. İlgili mail adresimize atacağınız ve onayınızı geri aldığınızı ifade ettiğiniz mailiniz ile onayınızı geri alabilirsiniz.
                        <br /> <br />
                        Kişisel verilerinizin şirketimizce işlenmesi ve kullanılmasına onay vermenize dair kararınızı değiştirmeniz halinde üyeliğinizin iptalini de gerçekleştirebilirsiniz.
                        <br /> <br />
                        Pinoo - Atölye Vizyon, hukukun zorunlu kıldığı ve yasal bir işlem gerektiren hallerde www.pinoo.io’nun bütünlüğünü korumak, isteklerinizi en doğru şekilde karşılamak ve toplum güvenliğini korumak adına yapılan araştırmalarda doğru bilgiyi sağlamak adına kişisel bilgilerinizi kullanma veya ifşa etme hakkına sahiptir. Ancak bu sözleşmede belirtilen haller dışında bilgileriniz herhangi bir üçüncü tarafla paylaşılmayacaktır.
                        <br /> <br />
                        Kişisel Bilgilerinizin Doğruluğu
                        Kullanıcı olarak verdiğiniz bilgilerin doğru ve geçerli olduğunu, bu bilgiler ile ilgili herhangi bir değişikliğin varlığı halinde bunu yine tarafımıza bildireceğinizi taahhüt etmiş bulunmaktasınız. Verilen bilgilerin doğru ve geçerli olmaması sebebiyle herhangi bir zararın veya hak kaybının doğması halinde kullanıcı olarak sorumlu olacaksınız. Bu gibi hallerde şirketimize yönelteceğiniz talepte bulunmanız mümkün olamayacaktır.
                        <br /> <br />
                        Erişim
                        Pinoo - Atölye Vizyon’a sağlamış olduğunuz tüm bilgilerin kontrolü ve değiştirme hakkı elinizde bulunmaktadır. Veri tabanımızda bulunan bilgileri değiştirmek istiyorsanız ya da iletişim detaylarınız ile ilgili yapmak istediğiniz bir değişiklik söz konusu ise sayfanın iletişim sayfasında bulunan adresler aracılığı ile bizimle iletişime geçebilirsiniz.
                        <br /> <br />
                        Sizlerden edindiğimiz kişisel bilgilerin silinmesini veya bilgilerinizin kullanılmasını durdurmak istediğiniz anda bizlere ulaşarak talebinizi belirtebilir, sorunsuzca iptal işlemini gerçekleştirebilirsiniz. Bu eylemi gerçekleştirmek için istek formunu doldurmanız yeterli olacaktır.
                        <br /> <br />
                        Aynı şekilde sizlerin gözetimi altında çocuklarınızdan edindiğimiz bilgilerin kullanımını durdurmak ve sildirmek için istek formunu doldurmanız iptal etme sürecini hızlandıracaktır. Talep etmeniz halinde veri koruma politika ve prosedürlerimiz hakkında bilgi edinebilirsiniz.
                        <br /> <br />
                        Çerezler
                        Web sitemizde gezinirken kullanımınızı geliştirmek amacıyla çerezler kullanıyoruz. Pek çok tarayıcı otomatik olarak çerezleri saklamak için ayarlanmıştır, fakat manuel olarak değiştirilebilir durumdadır. Bu sözleşmeye taraf olmayı kabul ederek çerezleri onayladığınızı da kabul etmiş bulunmaktasınız. Eğer çerezlerin kullanılmasını istemiyorsanız ayarlardan değiştirmek yeterli olacaktır. Ancak çerezler web sitesinde yardımcı rol oynadığı için kaldırdığınız çerezler sitenin düzgün çalışmasını dolayısıyla sizin hızlı ve kaliteli servis almanızı engelleyebilir.
                        <br /> <br />
                        Diğer Web Siteleri
                        Web sitemizde Pinoo - Atölye Vizyon tarafından yönetilmeyen sayfalara yönlendiren linkler bulunabilir. Bu sitelerden herhangi birisini ziyaret ettiğinizde yönlendirilmiş olduğunuz sitenin gizlilik politikalarını dikkate almalısınız. Diğer sitelerin standartlarından ve şirket ilkelerinden Pinoo - Atölye Vizyon sorumlu olmamaktadır.
                        <br /> <br />
                        Kişisel Verileri İşlenen Kişilerin Hakları
                        İşbu sözleşme kapsamında kişisel verileri işlenen kişilerin, kendileriyle ilgili kişisel veri işlenip işlenmediğini, verileri işlenmişse buna ilişkin bilgileri, verilerin işlenme amacını ve bunların amacına uygun kullanılıp kullanılmadığını, yurtiçinde veya yurtdışında verilerin aktarıldığı
                        <br /> <br />
                        üçüncü kişilerin kimler olduğunu, verilerin eksik veya yanlış olması hâlinde bunların düzeltilmesini/silinmesini, işlenen verilerin münhasıran otomatik sistemler vasıtasıyla analiz edilmesi suretiyle kişinin kendisi aleyhine bir sonucun ortaya çıkmasına itiraz etme ve verilerinin ilgili mevzuata aykırı olarak işlenmesi sebebiyle zarara uğraması halinde zararın giderilmesini talep etme hakkı bulunmaktadır.
                        <br /> <br />
                        Gizlilik Politikası Değişmesi
                        <br /> <br />
                        Pinoo - Atölye Vizyon olarak bazı dönemlerde gerektiği müddette gizlilik politikamızda gerçekleştirebileceğimiz değişiklikler mevcuttur. Pinoo - Atölye Vizyon gizlilik politikasını güncelleme yetkisini saklı tutmaktadır ve kullanıcılarına siteye veya mobil uygulamaya her girişte bu sayfayı ziyaret etmelerini tavsiye etmektedir. Yapılan herhangi bir değişiklikte sizleri en iyi şekilde bilgilendirmek adına değişiklikleri bu sayfada belirtmekteyiz. Sizlerin dönemsel olarak bu sayfayı kontrol ettiğinizi varsayarak yaptığımız bu değişiklikler geçmişi kapsamamaktadır. Bu siteyi ziyaret ederek “İnternet Gizlilik Sözleşmesi’nde yapılacak her türlü düzenleme ve değişikliği kabul etmiş sayılıyorsunuz.
                        <br /> <br />
                        İletişim
                        Gizlilik sözleşmesiyle ilgili sorularınız için aşağıdaki iletişim bilgilerini kullanarak bize ulaşabilirsiniz.
                        <br /> <br />
                        ATÖLYE VİZYON BİLİŞİM VE DANIŞMANLIK TİC. A.Ş.
                        <br /> <br />
                        Genel Merkez : Atatürk Mah Girne Cad No:11/1 Ataşehir İstanbul
                        <br /> <br />
                        Tel: 0 216 251 16 64 – 0 551 166 04 44
                        <br /> <br />
                        E-Mail Adresi: kurumsal@atolyevizyon.com
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</section>